<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="R34Downloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
    </startup>
	<system.windows.forms>
		<highDpiMode>PerMonitorV2</highDpiMode>
	</system.windows.forms>
    <userSettings>
        <R34Downloader.Properties.Settings>
            <setting name="Path" serializeAs="String">
                <value/>
            </setting>
        </R34Downloader.Properties.Settings>
    </userSettings>
</configuration>
